body {
  background-color: #FFF8F0;
  font-family: 'Courier New', Courier, monospace;
}


/* Form styles */
.registration-form {
    /* font-family: "Rubik", sans-serif; */
    text-align: center;
    background-image: linear-gradient( 115deg, rgba(46, 31, 25, 0.6), rgba(2, 2, 7, 0.9) ),url("../image/Background1.jpg");
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    padding: 100px;
    font-size: 23px;
    height: 50vh;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: red;
  border: none;
  color: black;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 8px 0px;
  cursor: pointer;
  border-radius: 16px;
}

button:hover {
  background-color: #f1f1f1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.jobs-list-container {
    max-width: 80%;
    margin: 20px auto;
  }
  
.jobs-list-container h2 {
    font-size: 30px;
    /* border-left: 4px solid #023047;  */
    padding-left: 20px;
  }


.jobs-list-container .jobs img {
  width: 60px;
}

.jobs-list-container .job {
    box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
    padding: 24px;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 400ms ease;
    background-color: rgba(183, 183, 211, 0.5);
  }

.jobs-list-container .job:hover {
  transform: scale(1.03);
}

.jobs-list-container .open-positions {
    position: absolute;
    top: 45px;
    right: 15px;
    color: #e63946;
    font-size: 14px;
    font-weight: bold;
  }
  
.jobs-list-container .job-title {
    font-size: 18px;
    padding: 10px 0;
    /* margin: 0; */
    color: rgb(88, 39, 88);
    height: 75px;
  }
  
.jobs-list-container .details {
    /* margin-bottom: 15px; */
    font-size: 14px;
    color: #333;
    line-height: 1.8;
    flex: 1;
  }
  

.jobs-list-container .details-btn {
  text-decoration: none;
  border: 1px solid #023047;
  color: #000;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  transition: all 400ms ease;
  background-color: #ccce43;
}

.jobs-list-container .details-btn:hover {
  background: salmon;
  color: #fff;
}

.jobs-list-container .job-search {
    width: 100%;
    padding: 12px 24px;
    font-size: 18px;
    /* font-family: "Rubik", sans-serif; */
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  

.jobs-list-container .jobs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px;

}

@media (max-width: 940px) {
  .jobs-list-container .jobs {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 640px) {
    .jobs-list-container .jobs {
      grid-template-columns: 1fr;
      max-width: 400px;
      margin: 0 auto;
    }
  }

}


/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* Modal Content */
.modal-content {
  background-color: #f3ca9b;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid rgb(80, 55, 55);
  width: 80%;
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
